
html { cursor: url(hammer_up.svg) 30 30, auto; }

html:active,
body:active { cursor: url(hammer_down.svg) 30 30, auto; }

.mole { cursor: url(hammer_up.svg) 30 30, auto; }
.mole:active { cursor: url(hammer_down.svg) 30 30, auto; }
